body {
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size * .8;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0 0 2em 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 2.8; // 16 * 2.8 = 45px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

.no-caps {
  text-transform: none;
  letter-spacing: 0;
  margin: 1em 0 .5em 0;
  font-weight: 400;
}

.post h2 {
  @extend .no-caps;
  font-family: $sans-serif;
  font-weight: 600;
}

#post-header a {
  color: #fff;
}

p {
  font-size: 1.375em;
  margin: 0 0 ($base-line-height * 1);
}

header {
  > div {
    font-size: .6em;
  }

  h1, h3 {
    font-family: $sans-serif;
    margin: 0 0 .4em 0;
  }

  h3 {
    font-weight: 500;
  }
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

pre {
  margin: 0 0 round(($base-line-height * 1.5));

  code {
    font-size: 1.2em;
  }
}

article .date {
  font-size: 1em;
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
}

@media screen and (min-width: 650px) {
  body {
    font-size: $base-font-size * 1;
  }
}
